<div class="center">
    <div class="curPosition"><a href="" class="ts">首页</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="">联系我们</a></div>
    <div class="contactUs">
        <div class="map">
            <div id="dituContent"></div>
        </div>
        <div class="contact_text">
            <div>联系方式</div>
            <ul>
                <li style="background-image: url(/static/img/d1.png);">公司地址：{{.config.address}}</li>
                <li style="background-image: url(/static/img/d2.png);">电话：{{.config.tel}}</li>
                <li style="background-image: url(/static/img/d3.png);">邮箱：{{.config.email}}</li>
            </ul>
            <div class="ts">加入我们</div>
            <ul>
                <li style="background-image: url(/static/img/d3.png);">邮箱：{{.config.email}}</li>
            </ul>
        </div>
    </div>
</div>